<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="Wedding for Miaolei"/>
    <title>苗蕾的婚礼</title>
    <link href="/stylesheets/style.css"  rel="stylesheet">
    
</head>
<body>

<div id="iSlider" class="slide">
</div>

<script type="text/javascript" src="/javascripts/zepto.js"></script>
<script type="text/javascript" src="/javascripts/islider.js"></script>
<script>
    var list = [{
        'content' : '<div class="content home"><img src="/images/img/index.jpg"/><div>'
    },
    {
        'content' : '<div class="content page1"><h1>Page1</h1><h2>This is page1</h2><p>page1 is pretty awsome</p><div>'
    },
    {
        'content' : '<div class="content page2"><h1>Page2</h1><h2>This is Page2</h2><p>Page2 is pretty awsome</p><div>'
    },
    {
        'content' : '<div class="content page3"><h1>Page3</h1><h2>This is Page3</h2><p>Page3 is pretty awsome</p><div>'
    },
    {
        'content' : '<div class="content page4"><h1>Page4</h1><h2>This is Page4</h2><p>Page4 is pretty awsome</p><div>'
    },
    {
        'content' : '<div class="content page5"><img src="/images/img/sea.jpg"/><div>'
    }];
    var islider = new iSlider({
        data: list,
        type: 'dom',
        dom: document.getElementById("iSlider"),
        duration: 1000,
        isVertical: true,
        isLooping: true,
        animateType: 'rotate'
    });
    //修正iSlide不能触发点击的问题
    // $('body').on("tap",'h1',function(e){
    //     alert(1);
    // });
</script>
</body>
</html>

